<div class="container">
  <div class="row">    
    <hgroup class="twentyfour columns">
      <h1>Formula Framework</h1>
      <h6>A Sass and Compass based CSS Framework</h6>
    </hgroup>
    <div class="row">
      <div class="five columns">
        <%= render "partials/_nav.html.erb" %>
      </div>
      <div class="nineteen columns">
        <%= render "doc-sections/vertical-nav.html.erb" %>

        <hr>

        <%= render "doc-sections/horizontal-nav.html.erb" %>
        
        <hr>
        
        <%= render "doc-sections/alerts.html.erb" %>
        
        <hr>

        <%= render "doc-sections/panels.html.erb" %>

        <hr>

        <%= render "doc-sections/forms.html.erb" %>
      </div>
    </div>
  </div>
</div>