<div class="container">

  <header class="row">
    <div class="twentyfour columns">
      <hgroup>
        <h1>Formula Framework</h1>
        <h6>A Sass and Compass based CSS Framework</h6>
      </hgroup>
    </div>
  </header>

  <%= render "doc-sections/vertical-nav.html.erb" %>

  <hr>

  <%= render "doc-sections/horizontal-nav.html.erb" %>
  
  <hr>
  
  <%= render "doc-sections/alerts.html.erb" %>
  
  <hr>

  <%= render "doc-sections/panels.html.erb" %>

  <hr>

  <%= render "doc-sections/forms.html.erb" %>

</div>